venv/
mri_env/

__pycache__/
*.pyc

*.nii
*.nii.gz

infant_mri_dataset/
preprocessed/

# ==========================================================
# GAN MODEL FILES
# ==========================================================

24_gan_generation/models_128/
24_gan_generation/models_v2/
24_gan_generation/models_wgan_gp/


# ==========================================================
# GAN GENERATED IMAGES
# ==========================================================

24_gan_generation/generated_images_128/
24_gan_generation/generated_images_v2/
24_gan_generation/generated_images_wgan_gp/
24_gan_generation/individual_generated_images/


# ==========================================================
# PYTHON CACHE
# ==========================================================

__pycache__/
*.pyc


# ==========================================================
# LARGE ML / DATA FILES
# ==========================================================

*.pth
*.pt
*.ckpt


# ==========================================================
# LOGS
# ==========================================================

*.log
